@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}


<div class="text-center m-auto">
    <h1 class="display-4 mt-5 mb-5">Welcome</h1>
    <h3 class="display-4 mb-5">To</h3>
    <img class="mb-5" src="~/image/ba-2.png" />
</div>