@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}


<div class="text-center m-auto">
    @*<h1 class="display-4">Welcome</h1>*@
    <img class="mb-5" src="~/image/ba-2.png" />

    <div class="mt-5 bg-danger ">
        <div class="col-md-12">
            <div class="col-md-4 float-left">
                <div class="about"></div>
                <h5>About US</h5>
                <p>
                    Interlink Technologies Ltd. (ITL), incorporated in 2013, is a diversified company that provides a broad range of high-technology products and services to its customers.
                </p>
            </div>
            <div class="col-md-4 float-left">
                <h5>Library Management System</h5>
                <p>
                    RFID (Radio Frequency Identification) is the latest technology to be used in library theft detection systems. Unlike EM (Electro-Mechanical) and RF
                </p>
            </div>
            <div class="col-md-4 float-left">
                <h5>  Home & Office Automation</h5>
                <p>
                    Our Intelligent Home Automation System, full use of the sophisticated computer technology, network communication technology, electronic technology
                </p>
            </div>
        </div>


        <div class="col-md-12">
            <div class="col-md-4 float-left">
                <h5>Data Center Solutions</h5>
                <p>
                    Innovation and efficiency are at the heart of the information technology industry. And a growing focus in every data center is energy efficiency to improve
                </p>
            </div>
            <div class="col-md-4 float-left">
                <h5>Library Automation Products</h5>
                <p>
                    An RFID tag is the most important link in any RFID system. It has the ability to store information relating to the specific item to which they are attached, rewrite
                </p>
            </div>
            <div class="col-md-4 float-left">
                <h5>ID Card & Card Printer</h5>
                <p>
                    We like to keep things simple, that’s why our dye film is common across our current range of direct-to-card printers – which means that you only have to keep one
                </p>
            </div>
        </div>
    </div>
</div>