@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Account has been created successfully";
}


    <div class="col-md-8 m-auto">
        <h3 class="text-center">@ViewData["Title"]</h3>

        <p class="text-center">
            New user can login now using his/her account..
        </p>
    </div>