@model ITL_MakeId.Model.ViewModel.IdentityCardViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Registration";
}

@*<div class="row">*@
<div class="col-md-6 mr-auto ml-auto p-0 mt-3 mb-5">

    <h3 class="formbar mb-0">Registration</h3>
    <div class="col-md-12 form-bg">
        <form enctype="multipart/form-data" asp-action="Create" class="pb-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-12">
                <div class="col-md-8">
                    <div class="col-md-3">
                        <img src="~/image/noimage.jpg" class="upload-box border border-info" id="output" />
                    </div>
                </div>

                <div class="form-group col-md-6 float-left">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BloodGroup" class="control-label"></label>
                        <select asp-for="BloodGroupId" class="form-control" asp-items="ViewBag.BloodGroupId"></select>
                        <span asp-validation-for="BloodGroup" class="text-danger"></span>
                    </div>




                    <div class="form-group">
                        <label asp-for="ImagePathOfUser" class="control-label"></label>
                        <div class="custom-file">
                            <input asp-for="ImagePathOfUser" class="form-control custom-file-input" />
                            <label class="custom-file-label">Choose Image...</label>
                            <span asp-validation-for="ImagePathOfUser" class="text-danger"></span>
                        </div>
                    </div>

                </div>

                <div class="form-group col-md-6 float-left">
                    <div class="form-group">
                        <label asp-for="Designation" class="control-label"></label>
                        <select asp-for="DesignationId" class="form-control" asp-items="ViewBag.DesignationId"></select>
                        <span asp-validation-for="Designation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CardNumber" class="control-label"></label>
                        <input asp-for="CardNumber" class="form-control" readonly="readonly" />
                        <span asp-validation-for="CardNumber" class="text-danger"></span>
                    </div>



                </div>
            <div class="form-group col-md-6 float-left">
            </div>
            </div>
                @*<div class="m-submitbtn">

        </div>*@
        <div class="">
            <input type="submit" value="Create" class="btn btn-primary ml-5" />
            <a asp-action="Index" class="btn back-btn ml-5">Back to List</a>
        </div>

</form>
       
    </div>
</div>

@section Scripts{

    @*<script src="~/js/uploadimage.js"></script>*@
    <script>

            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    if (fileName.length > 20) {
                        fileName = fileName.substring(0, 20) + "...";
                    }
                    $(this).next('.custom-file-label').html(fileName);
                }
                );
            });

            var loadFile = function (event) {
                var output = document.getElementById('output');
                //$("#output").addClass("report_image");
                output.src = URL.createObjectURL(event.target.files[0]);
            };
        </script>
}