/*Override*/

.formbar {
    background: #1765cf;
    color: white;
    text-align: center;
}

.bg_border_box {
    background: #E9ECEF
}

.cm {
    margin-right: 10%;
}

.button-green {
    color: #28a745;
}

.button-de {
    color: #1765cf;
}

.bd {
    border: 1px;
    margin-left: 3px;
    height: 10px;
    width: 10px
}




/*.upload-box {
    margin-top: 15px;
    margin-bottom: 23px;
    width: 170%;
    height: 170px;
}*/

.frm-header {
    background: rgba(26, 114, 195, 1);
    color: white;
}

.sidebar {
    max-width: 200px !important;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
}

.reg-btn {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #0a6cdc;
    width: 100%;
    border: 0;
    padding: 13px 95px 13px 95px;
    color: #FFFFFF;
    font-size: 14px;
    /*-webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;*/
    cursor: pointer;
    -ms-border-radius: 15px;
    border-radius: 15px;
}

    .reg-btn:hover, .form button:active, .form button:focus {
        background: #0554ae;
        text-decoration: none;
        color: #FFFFFF;
    }


/*.reg-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}*/



.verticalLine-l {
    border-left: 1px solid #283E4A;
}

.verticalLine-r {
    border-right: 1px solid #283E4A;
}


.chk-box-margin {
    margin: 0 !important
}

.txt-clr {
    color: #0a6cdc !important;
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
}

.navbar {
    background-color: #2a424e !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #dfe5ec !important;
}

/*.nav-link {
    color: #e9e2e2;
}*/

/*Override*/


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */

.back-btn:hover, .form button:active, .form button:focus {
        background: #0554ae;
        text-decoration: none;
        color: #FFFFFF;
    }


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    text-decoration-style: unset;
    background: #18252b;
    color: white !important;
    text-decoration: none !important;
}


    .footer a {
        color: #ffffff !important;
        text-decoration: none !important;
    }


        .footer a:hover {
            color: #bbb4b4 !important;
            text-decoration: none !important;
        }