<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Interlink Technologies Ltd.</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
    <partial name="_LoginPartial" />
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>


        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">DashBoard</a>
        </li>


        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Identity Card
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                @*condition Only show for admin*@

                <a class="dropdown-item" asp-area="IdentityCard" asp-controller="IdentityCards" asp-action="Index">Card Holders</a>
                <a class="dropdown-item" asp-area="IdentityCard" asp-controller="IdentityCards" asp-action="Create">Register For Card</a>
            </div>
        </li>
    </ul>
</div>